<div class="container">
    <header class="jumbotron">
      <pre>{{ content | json }}</pre>
    </header>
  </div>
  
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Name</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let message of messages">
        <td> {{ message }}</td>
        <td>
          <button class="btn btn-primary button-margin-right" (click)="selectMessage(message)"> Show details</button>
          <button class="btn btn-success button-margin-right" (click)="DownloadFile(message)"> Download</button>
          <button class="btn btn-danger" (click)="DeleteFile(message)"> Delete</button>
        </td>
      </tr>
    </tbody>
  </table>
